/*
Reset styles
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Benne', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/***
* Global Styles
***/
h1 {font-size:2em;font-family: 'Ubuntu', sans-serif;}

h2 {font-size:2.2em;font-family: 'Ubuntu', sans-serif;}
h3 {font-size:1.5em;font-family: 'Ubuntu', sans-serif;}

p {
    font-size: 1.2em;
    line-height: 1.2;
}

img {
	max-width:100%;
}







/************************
* Styles for Section #1
************************/


#section1 {
    background-image: url('../assets/others/peggy-sue-zinn-pomI1itWE_0-unsplash_blurred.png');
    background-size: cover;
    padding: 1em;
}

#section1 .logoContainer {
    text-align: center;
    margin: 0 0 1em;
}

#section1 img.logo {
    width: 80%;
}

#section1 h1 {
    color: white;
    font-size: 2em;
    text-align: center;
}

#section1 p {
    color: white;
    text-align: center;
    margin: 1em;
}

#section1 .screenshot {
    text-align: center;
    margin: 3em 1em 2em;
}


/*Download buttons*/
.flexParent.downloadButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.downloadButton {
    margin: 0.5em;
    text-align: center;
}

.downloadButton img {
    width: 70%;
}











/************************
* Styles for Section #2
************************/


section#section2 > * {
    text-align: center;
}

section#section2 {
    padding: 1em;
}

#section2 .flexChild {margin: 1em 0;}

#section2 h2 {font-size: 2em;margin: .5em;}



/* flex styles */

#section2 .flexParent {
    display: flex;
    flex-flow: row wrap;
}

#section2 .flexParent > * {
	flex: 1 100%;
}


.quis { order: 1;}
.horizontal { order: 2; }
.pulvinar { order: 1; }
.vertical    { order: 2; }
/*end flex styles*/







/************************
* Styles for Section #3
************************/
section#section3 {
    background-color: #676767;
    color: white;
    text-align: left;
}


#section3 h2 {
    text-align: left;
    margin: .5em 0em;
}


section#section3 {
    padding: 1em;
}

#section3 p {
    margin-bottom: 1em;
}


#section3 .flexChild.bannerBox {
	border: 1px solid white;
	border-radius: 5px;
	padding: 1em;
	font-size: 1.1em;
	text-align: center;
}

#section3 .bannerBox p {
    margin: 0;
}

#section3 .flexParent {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#section3 .flexChild {
    margin: 1em;
}








/************************
* Styles for Section #4
************************/
section#section4 {
    text-align: left;
}

#section4 .flexChild .flexParent > * {
    margin: 1em 0em;
}

#section4 .flexChild > *,
#section4 .flexParent.downloadButtons {
    margin: 3.5em 0em;
}

/*reset the .downloadButton class to have .5 margin*/
#section4 .flexChild .flexParent .downloadButton {
    margin: .5em;
}

#section4 {
    padding: 2em 1em;
}

#section4 .screenshot img {
    margin: 0 0 1em;
}




/************************
* Styles for Section #5
************************/


#section5 {
    background-image: url('../assets/client-assets/Background_Ideas/fullsize/jeremy-bishop-BFNkJZW9ljc-unsplash.jpg');
    background-size: cover;
    padding: 1em;
    text-align: center;
    color: white;
    /* background: black; */
}
#section5 .logo {
	width: 70%;
	margin: 3em 0em;
}

#section5 p {
    margin: .5em;
}








/************************
* Breakpoint Tablet
************************/

@media (min-width:481px){
	
	p {
	    font-size: 2em;
	}
	
	#section1 {
		padding: 4em;
	}
	
	#section1 .logoContainer {
	    text-align: left;
	    margin: 0 0 4em 5em;
	}
	#section1 img.logo {
	    width: 400px;
	}
	
	.flexParent.downloadButtons {
	    display: flex;
	    flex-wrap: nowrap;
	    justify-content: center;
	    flex-direction: row;
	    padding: 0em 5em;
	}

	#section1 h1 {
	    font-size: 4em;
	}
	
	#section1 p {
	    padding: 0em 3em;
	}
	
	#section1 .screenshot {
	    margin: 3em 7em 2em;
	}
	
	
	section#section2 {
    padding: 0;
    
}

h2 {
    font-size: 2.6em;
}

#section2 h2 {
    font-size: 3em;
}

#section2 .flexParent {
    margin: 3em 0em;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: nowrap;
}

#section2 .flexParent .flexChild.quis {
    margin: 1em 0;
    flex: 7;
    padding: 0 1em 0 2em;
}

#section2 .flexParent .flexChild.horizontal {
    flex: 3;
    overflow: hidden;
}

#section2 .flexParent .flexChild.horizontal img {
    max-width: 260%;
}

section#section2 > * {
    text-align: left;
}


#section2 .flexParent .flexChild.vertical {
    overflow: hidden;
    flex: 3;
    order:1;
}


#section2 .flexParent .flexChild.vertical img {
    max-width: 97%;
}

#section2 .flexParent .flexChild.pulvinar {
    flex: 7;
    order: 2;
    padding: 1em;
}

section#section3 {
    padding: 2em 27em 2em 2em;
}

#section3 .flexChild.bannerBox {
    padding: 5em;
    margin-right: 5em;
}


section#section4 {
    text-align: center;
    padding: 4em;
}

h3 {
    font-size: 2.5em;
}

.flexParent.second {
    padding: 0 8em;
}

.downloadButton img {
    width: 100%;
}
#section5 .flexParent {
    display: flex;
}

#section5 .flexChild {
    flex: 3;
}

.flexChild.two {
    order: 1;
}

.flexChild.one {
    order: 2;
}

.flexChild.three {
    order: 3;
}

.flexChild p {
    font-size: 1em;
}

}



/************************
* Breakpoint Desktop
************************/
@media (min-width:769px){
	
#section1 .flexParent {
    display: flex;
    flex-direction: row;
    align-items: center;
}
	
	#section1 .screenshot {
    margin: 0;
}

.flexChild.info {
    flex: 6;
}

.flexChild.phone {
    flex: 4;
}

#section1 h1 {
    text-align: left;
}

#section1 p {
    padding: 0;
    margin: 1em 0;
}

.flexParent.downloadButtons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    padding: 0 10em 0 0;
}


#section2 .flexParent .flexChild.quis {
    padding: 7em;
}

#section2 h2 {
    font-size: 2em;
    margin-left: 0;
}
	
#section2 .flexParent .flexChild.pulvinar {
    padding: 7em;
}


#section3 .flexParent {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

section#section3 {
    padding: 2em 5em;
}

#section3 .flexChild.bannerBox {
    order: 3;
    margin-right: 0;
}

#section4 > .flexParent {
    display: flex;
    flex-direction: row;
}

section#section4 {
    text-align: center;
    padding: 2em 0;
}

.flexChild.info {
    TEXT-ALIGN: LEFT;
}

.flexParent.second {
    padding: 0;
}


.flexChild.info {
    flex: 5;
    padding-left: 4em;

}


.flexChild.screenshot {
    flex: 5;
}

#section4 .flexChild .flexParent > * {
    margin: .5em 0;
}

h3 {
    font-size: 1.5em;
}

#section5 .logo {
    width: 30%;
    margin: 6em 0em;
}

}
